<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color-1.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!--===Header Start===-->
    <div class="header">
        <a href="{{ url_for('home') }}"><img class="logoimage" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
        <input type="checkbox" id="check">
        <nav class="navbar">
            <a href="{{ url_for('home') }}">Home</a>
            <a class="active" href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('activities') }}">Activities</a>
            <a href="{{ url_for('portfolio') }}">Portfolio</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
        </nav>
        <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>

    </div>
    <!--===Header End===-->
    
    <!--===About Me section Start===-->
    <section class="about-section">
        <div class="container">
            <div class="section-title padd-15">
                <h2>About Me</h2>
            </div>
            <div class="row">
                <div class="about-content">
                    <h1>I'm Hamid Alakbarli</h1>
                    <h3>Student at Boston University</h3>
                    <p>Diligent and passionate international student from Azerbaijan majoring in Computer Science and Economics at Boston University. My journey into the world of technology began with my father bringing home a computer, which ignited my lifelong fascination with IT. This early exposure led me to develop a strong foundation in programming languages. I am passionate about cloud computing, AI/machine learning and software enginering.  Besides my academic and professional pursuits, I enjoy playing soccer and basketball, making new friends, and staying fit. </p>
                    <ul class="info-list">
                        <li><strong>UNIVERSITY:</strong> Boston University</li>
                        <li><strong>MAJOR:</strong> Computer Science and Economics</li>
                        <li><strong>CITY OF BIRTH:</strong> Baku, Azerbaijan</li>
                        <li><strong>LANGUAGES:</strong> Azerbaijani, Russian, English, Turkish</li>
                        <li><strong>TECHNICAL PROFICIENCIES:</strong> Python, Java, C, HTML/CSS, JavaScript, Assembly, Arduino IDE, Ubuntu</li>
                        <li><strong>Systems/tools: </strong> Azure, Visual Studio, Git, PyCharm, PyScripter, Ubuntu, Google Colab</li>
                        <li><strong>EMAIL: </strong>alakbarlihamid1@gmail.com</li>
                    </ul>
                </div>
                <div class="education-experience">
                    <div class="education">
                        <h3 class="title">Education</h3>
                        <div class="box">
                            <div class="box-content">
                                <h4>Boston University</h4>
                                <p>Bachelor of Arts in Computer Science</p>
                                <p><strong>Sep 2024 - May 2026 (Expected)</strong></p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-content">
                                <h4>American University</h4>
                                <p>Transferred after 2nd year</p>
                                <p><strong>Aug 2022 - May 2024</strong></p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-content">
                                <h4>Harvard Extension School</h4>
                                <p>Data Structures course</p>
                                <p><strong>January 2024 - May 2024</strong></p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-content">
                                <h4>University of Cambridge</h4>
                                <p>Cambridge Summer Research Programme in AI and Computer Science </p>
                                <p><strong>July 2023 - July 2023</strong></p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-content">
                                <h4>Code Academy</h4>
                                <p>Software Development course</p>
                                <p><strong>Jan 2022 - July2022</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="experience">
                        <h3 class="title">Experience</h3>
                        <div class="box">
                            <div class="box-content">
                                <h4>Boston University School of Medicine</h4>
                                <p>Web Developer </p>
                                <p><strong>Apr 2025 - Present</strong></p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-content">
                                <h4>Baker Tilly</h4>
                                <p>Intern - Information Technology Department </p>
                                <p><strong>Aug 2025 - Aug 2025</strong></p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-content">
                                <h4>International Bank of Azerbaijan (ABB)</h4>
                                <p>Intern - Data Science Chapter</p>
                                <p><strong>June 2024 - July 2024</strong></p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-content">
                                <h4>Mugan Bank OJSC</h4>
                                <p>Intern, Project: “Reconstruction of official web-site of the Bank”</p>
                                <p><strong>Mar 2022 - Apr 2022</strong></p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-content">
                                <h4>BestComp Group</h4>
                                <p>Intern, Project: “Consultancy on the website structure of Group companies”</p>
                                <p><strong>Feb 2022 - Mar 2022</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===ChatBot Section Start===-->
        <div class="chat-icon" onclick="toggleChat()">
            <i id="icon-chatbot" class='bx bxs-bot'></i>
        </div>
        <div class="chat-container" id="chat-container">
            <div class="chat-header">
                <h2>Chat with Hamid</h2>
                <span class="close-chat" onclick="toggleChat()">&times;</span>
            </div>
            <div class="chat-box" id="chat-box"></div>
            <input type="text" class="chat-input" id="chat-input" placeholder="Type your question..." onkeypress="checkEnter(event)">
            <button class="send-button" onclick="sendMessage()">Send</button>
        </div>
        <!--===ChatBoT Section End===-->
        </div>
    </section>
    <!--===About Me section End===-->
    <!--===JS Files===-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
</body>
</html>
